{% extends "layout.html" %}
{% block body %}
<div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <!-- BEGIN: Subheader -->
                <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h3 class="m-subheader__title ">
                                Dashboard
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- END: Subheader -->
                <div class="m-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!--begin::Portlet-->
                            <div class="m-portlet m-portlet--tab" id="api_token_portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
                                            <h3 class="m-portlet__head-text">
                                                Base Form Controls
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <!--begin::Form-->
                                <div class="col-md-6" style="padding-left: 0px">
                                    <form class="m-form m-form--fit m-form--label-align-right" id="api_token_form">

                                        <div class="m-portlet__body">
                                            <div class="form-group m-form__group m--margin-top-10">
                                                <div class="alert m-alert m-alert--default" role="alert">
                                                    The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with
                                                    additional classes.
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group">
                                                <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-danger alert-dismissible fade show m--hide"
                                                     role="alert" id="alertDiv">
                                                    <div class="m-alert__icon">
                                                        <i class="flaticon-exclamation-1"></i>
                                                        <span></span>
                                                    </div>
                                                    <div class="m-alert__text">
                                                        <strong>
                                                            Error!
                                                        </strong>
                                                        <span id="alertText"></span>
                                                    </div>
                                                    <div class="m-alert__close">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                </div>


                                                <label for="api_token_input">
                                                    Toggl API Token
                                                </label>

                                                <div class="input-group">

                                                    <input type="text" class="form-control m-input--square" id="api_token_input" name="api_token"
                                                           placeholder="Enter Toggl API Token">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary m-btn--square" type="submit">Submit</button>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group m--hide" id="file_upload_form">
                                                <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-danger alert-dismissible fade show m--hide"
                                                     role="alert" id="alertFileDiv">
                                                    <div class="m-alert__icon">
                                                        <i class="flaticon-exclamation-1"></i>
                                                        <span></span>
                                                    </div>
                                                    <div class="m-alert__text">
                                                        <strong>
                                                            Error!
                                                        </strong>
                                                        <span id="alertFileText"></span>
                                                    </div>
                                                    <div class="m-alert__close">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                </div>


                                                <label for="api_token_input">
                                                    Calendar file (*.ics)
                                                </label>

                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile" accept=".ics">
                                                    <label class="custom-file-label" for="customFile">
                                                        Choose file
                                                    </label>
                                                </div>
                                            </div>


                                        </div>


                                    </form>
                                    <!--end::Form-->
                                </div>
                            </div>
                            <!--end::Portlet-->
                        </div>
                    </div>
                    <!--Begin::Section-->
                    <div class="row m--hide" id="event_calendar">
                        <div class="col-xl-12">
                            <!--begin::Portlet-->
                            <div class="m-portlet" id="m_portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
														<span class="m-portlet__head-icon">
															<i class="flaticon-calendar"></i>
														</span>
                                            <h3 class="m-portlet__head-text">
                                                Calendar
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div id="m_calendar"></div>
                                </div>
                            </div>
                            <!--end::Portlet-->
                        </div>
                    </div>
                    <!--End::Section-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
